<div class="form-container">
  <p class="form-title">Welcome to Invision</p>

  <form class="sign-in-form" [formGroup]="singInForm" (ngSubmit)="onSubmit()">
    <div class="form-group-input mt-3">
      <input type="text" formControlName="username" placeholder=" ">
      <label for="username">Users name or Email</label>
    </div>
    <div class="form-group-input mt-3">
      <input type="password" formControlName="password" placeholder=" " required>
      <label for="password">Password</label>
    </div>
    <div class="forgot-pass mt-3">
      <a class="btn-forgot">Forgot password?</a>
    </div>

    <button class="btn-submit mt-4">
      <p class="btn-title">Sign In</p>
    </button>

    
  </form>
  <div class="hide-md-lg mt-5">
    <span></span>
    <p>Or</p>
    <span></span>
  </div>

  <button class="btn-google mt-4">
    <img src="assets/images/google-logo.svg">
    <p class="google-btn-title">Sign up with Google</p>
  </button>
  <div class="create-account mt-4">
    <p>
      New <b>Invision</b>?
      <a href="/sign-up" class="btn-create-account">Create Account</a>
    </p>
  </div>
</div>
