<nav class="navbar navbar-expand" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item" routerLink="#">Home</a>
      <a class="nav-item" (click)="logout()">Logout</a>
  </div>
</nav>
<div class="logged-area-container">
  <h1>Hi, {{ currentUser.fullname }}!</h1>
  <p>You're logged in Invision!</p>
  <h3>All registered users:</h3>

  <ul>
    <li class="user-box" *ngFor="let user of users">
      <b>User name:</b> {{ user.username }}<br> <b>Full name:</b> {{ user.fullname }}
      - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
  </ul>
</div>
