@import 'src/styles.scss';

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

.form-title {
  font-family: $font-primary;
  font-weight: $regular-weight;
  font-size: $font-size-medium;
  letter-spacing: $spacing-primary;
  color: $gray-dark;
  opacity: $opacity-primary;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 435px;
  margin-top: 1rem;
}

.hide-md-lg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hide-md-lg span {
  background-color: $gray;
  width: 10rem;
  height: 1px;
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.hide-md-lg p {
  font-family: $font-primary;
  font-weight: $regular-weight;
  font-size: $font-size-primary;
  letter-spacing: $spacing-primary;
  color: $gray-dark;
  opacity: $opacity-primary;
}

.infos p {
  padding-left: 4rem;
  padding-right: 4rem;
  font-family: $font-primary;
  font-weight: $regular-weight;
  font-size: $font-size-primary;
  letter-spacing: $spacing-primary;
  color: $gray-dark;
  opacity: $opacity-primary;
}

p a {
  font-family: $font-primary;
  font-weight: $regular-weight;
  font-size: $font-size-secondary;
  text-decoration: underline;
  letter-spacing: $spacing-primary;
  color: $green-light;
  opacity: $opacity-primary;
  cursor: pointer;
}
p a:hover {
  color: $black;
}

@media screen and (max-width: $screen-lg-min) {
  .form-container {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }

  .sign-in-form {
    align-items: center;
    width: 320px;
    margin-top: -2rem;
  }

  .hide-md-lg span {
    width: 6rem;
  }
}