<div class="form-container">
  <p class="form-title">Getting Started</p>

  <form class="sign-in-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group-input mt-3">
      <input type="text" minlength="4" formControlName="fullname" placeholder=" " required>
      <label for="fullname">Full Name</label>
      <div *ngIf="f.fullname.invalid && (f.fullname.dirty || f.fullname.touched)" class="error-feedback">
        <div *ngIf="f.fullname.errors.required" class="error-text">Full name is required</div>
        <div *ngIf="f.fullname.errors.minlength" class="error-text">Name must be at least 4 characters long</div>
      </div>
    </div>
    <div class="form-group-input mt-3">
      <input type="email" formControlName="username" placeholder=" ">
      <label for="username">Users name or Email</label>
      <div *ngIf="f.username.invalid && (f.username.dirty || f.username.touched)" class="error-feedback">
        <div *ngIf="f.username.errors.required" class="error-text">Email is required</div>
        <div *ngIf="f.username.errors.email" class="error-text">Username must be an email</div>
      </div>
    </div>
    <div class="form-group-input mt-3">
      <input type="password" minlength="6" formControlName="password" placeholder=" ">
      <label for="password">Create Password</label>
      <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="error-feedback">
        <div *ngIf="f.password.errors.required" class="error-text">Password is required</div>
        <div *ngIf="f.password.errors.minlength" class="error-text">Password must be at least 6 characters long</div>
      </div>
    </div>

    <button [disabled]="loading" class="btn-submit mt-4">
      <img src="assets/images/white-loading.svg" *ngIf="loading">
      <p class="btn-title" *ngIf="!loading">Sign Up</p>
    </button>

    <div class="hide-md-lg mt-5">
      <span></span>
      <p>Or</p>
      <span></span>
    </div>

    <button class="btn-google mt-4">
      <img src="assets/images/google-logo.svg">
      <p class="google-btn-title">Sign up with Google</p>
    </button>

    <div class="infos mt-4">
      <p>
        By signning up, you agree to <b>Invision</b>?<br>
        <a href="" class="btn-terms-privacy">Terms of Conditions</a>
        and
        <a href="" class="btn-terms-privacy">Privacy Policy</a>
      </p>

      <p>
        Alredy on <b>Invision</b>?
        <a href="/sign-in" class="btn-logIn">Log in</a>
      </p>
    </div>
  </form>
</div>

