<div class="form-container">
  <p class="form-title">Getting Started</p>

  <form class="sign-in-form">
    <div class="form-group-input mt-3">
      <input type="text" placeholder=" " required>
      <label for="fullname">Full Name</label>
    </div>
    <div class="form-group-input mt-3">
      <input type="text" placeholder=" ">
      <label for="username">Users name or Email</label>
    </div>
    <div class="form-group-input mt-3">
      <input type="password" placeholder=" ">
      <label for="password">Create Password</label>
    </div>

    <button class="btn-submit mt-4">
      <p class="btn-title">Sign Up</p>
    </button>

    <div class="hide-md-lg mt-5">
      <span></span>
      <p>Or</p>
      <span></span>
    </div>

    <button class="btn-google mt-4">
      <img src="assets/images/google-logo.svg">
      <p class="google-btn-title">Sign up with Google</p>
    </button>

    <div class="infos mt-4">
      <p>
        By signning up, you agree to <b>Invision</b>?<br>
        <a href="" class="btn-terms-privacy">Terms of Conditions</a>
        and
        <a href="" class="btn-terms-privacy">Privacy Policy</a>
      </p>

      <p>
        Alredy on <b>Invision</b>?
        <a href="/sign-in" class="btn-logIn">Log in</a>
      </p>
    </div>
  </form>
</div>

