<div class="home-container">
  <div class="images-card">
    <div class="images-slider">
      <div class="csslider infinity" id="slider1">
        <input type="radio" name="slides" id="slides_1"/>
        <input type="radio" name="slides" checked="checked" id="slides_2"/>
        <ul>
          <li>
            <img src="assets/images/Data.png" class="slide-item-1">
          </li>
          <li>
            <img src="assets/images/item-2-red.png" class="slide-item-2">
          </li>
        </ul>
        <div class="images-text mt-4">
          <p class="image-title">Marcenas mattis egestas</p>
          <p class="image-discription">Erdum et malesuada fames ac ante ileum primmer in faucibus uspendisse porta.</p>
        </div>
        <div class="navigation"> 
          <div>
            <label for="slides_1"></label>
            <label for="slides_2"></label>
            <label for="slides_3"></label>
            <label for="slides_4"></label>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="dot-btn">
      <button class="button-slider"></button>
      <button class="button-slider"></button>
      <button class="button-slider"></button>
    </div> -->
  </div>
  <div class="user-container">
    <h1>Invision</h1>
    <router-outlet></router-outlet>
  </div>
</div>
