<div class="home-container">
  <div class="images-card">
    <div class="images-slider">
      <img src="assets/images/Data.png" class="">
      <!-- <img src="assets/images/item-2.png" class=""> -->
      <div class="images-text mt-4">
        <p class="image-title">Marcenas mattis egestas</p>
        <p class="image-discription">Erdum et malesuada fames ac ante ileum primmer in faucibus uspendisse porta.</p>
      </div>
      <div class="dot-btn">
        <button class="button-slider"></button>
        <button class="button-slider"></button>
        <button class="button-slider"></button>
      </div>
    </div>
  </div>
  <div class="user-container">
    <h1>Invision</h1>
    <router-outlet></router-outlet>
  </div>
</div>
